body {
  background-color: beige;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(118, 190, 1);
  color: #ee0000f1;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo {
  width: 100px;
}

ul {
  list-style-type: none;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 30px;
}
.nav-items {
  margin: auto 0px;
}
.res-card {
  width: 300px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  flex-direction: column;
  /* flex: calc(25% - 16px); */
  align-items: center;
  width: 200px;
  /* max-width: calc(25% - 16px); */
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 6px #0000001a;
}
.resto-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.resto-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.res-card:hover {
  border: 2px solid orange;
  transform: scale(105%);
  transition: ease-out;
  transition-duration: 0.3s;
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.search-input > input {
  margin-right: 10px;
}
.search-input-field {
  height: 50px;
  border: 4px solid orange;
}
